/*
 ☐ ☐ buttons style
*/
#signupButton, #loginButton, #addEmployee {
    -fx-background-color:  #1F8FE8;
    -fx-text-fill: white;
    -fx-background-radius: 1px;
    -fx-effect:  dropshadow( gaussian , rgba(0,0,0,0.4) , 10,0,1,3.5 );
}

#signupButton:hover, #loginButton:hover, #addEmployee:hover{
    -fx-background-color:  #187ece;
}

#signupButton:pressed, #loginButton:pressed, #addEmployee:pressed {
    -fx-background-color:  #1F8FE8;
    -fx-effect:  dropshadow( gaussian , rgba(0,0,0,0.4) , 10,0,1,1.5 );
}
#addButton:pressed, #settingsButton:pressed {
    -fx-effect:  dropshadow( gaussian , rgba(0,0,0,0.4) , 1,0,1,1.5 );
}

#teamBox {
    -fx-border-color: #7C8184;
    -fx-border-width: 1px 0px 0px 0px;
}

#dashboardButton:hover, #employeesButton:hover, #inventoryButton:hover {
    -fx-background-color: #2d2f3d;
    -fx-cursor: hand;
}

#dashboardButton:pressed, #employeesButton:pressed, #inventoryButton:pressed{
    -fx-effect:  dropshadow( gaussian , rgba(0,0,0,0.4) , 10,0,1,1.5 );
}

#dashboardAdd:hover, #dashboardSettings:hover {
    -fx-cursor: hand;
}

#dashboardAdd:pressed, #dashboardSettings:pressed{
    -fx-effect:  dropshadow( gaussian , rgba(0,0,0,0.4) , 10,0,1,1.5 );
}


.memberVBox {
    -fx-padding: 15 0 0 10;
}
.memberInfoVBox {
    -fx-padding: 0 0 0 15;
}

.memberNameText {
    -fx-font-size: 14px ;
    -fx-font-family: Embrima;
    -fx-text-fill: #e1e1e1;
}

.memberRankText {
    -fx-font-size: 12px ;
    -fx-font-family: System;
    -fx-text-fill: #e1e1e1;
}

/*
menu style
*/

.menu-item {
    -fx-font-size: 14px ;
    -fx-font-family: Embrima;
    -fx-text-fill: #e1e1e1;
    -fx-background-color:  #F8F8F8;
}

/*dropdown background*/
.context-menu {
    -fx-background-color: #F8F8F8;
    -fx-text-fill: black;
}

.menu-item:focused {
     -fx-background-color: #1f8fe8;
}

/*
trasparent scrollpanel
*/

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane {
   -fx-background-color: transparent;
}

/*
radiobutton style
*/

.jfx-radio-button {
    -jfx-selected-color: #1f8fe8;
}
.jfx-rippler {
    -jfx-rippler-fill: #1f8fe8;
}

/*
tableview style
*/

.table-cell {
    -fx-border-color: transparent -fx-box-border transparent transparent;
    -fx-text-fill: #616161;
}

.table-view {
    -fx-table-header-border-color: #616161;
    -fx-table-cell-border-color: -fx-box-border;
}

.table-view:focused {
    -fx-background-color: white;
}

.table-row-cell:filled:focused:selected:hover {
    -fx-background-color: #1F8FE8;
    -fx-background-insets: 0,1 1 1 1 0;
}

.table-row-cell:odd {
    -fx-background-color: white;
    -fx-background-insets: 0, 0 0 1 0;
}

.table-view .column-header, .table-view .filler {
    -fx-background-color: white;
    -fx-size: 35;
    -fx-border-color: -fx-box-border;
    -fx-border-insets: -1 0 0 -1;
    -fx-padding: 0 5 0 0;
}

.table-row-cell:selected .text {
    -fx-fill: white ;
}
.table-row-cell:hover .text{
    -fx-fill: black ;
}
.table-row-cell:focused:hover .text{
    -fx-fill: white;
}
.text:focused:hover{
    -fx-fill: white;
}

.table-cell {
    -fx-padding: 0.8em 0em 0.5em 0.3em;
    -fx-border-color: transparent -fx-box-border transparent transparent;
    -fx-font: 13px "Segoe UI";
    -fx-font-weight: 700;
    -fx-text-fill: #212121;
}
.table-cell .text{
    -fx-text-fill: blue;
}
.table-view {
    -fx-table-header-border-color: #959595;
    -fx-table-cell-border-color: -fx-box-border;
}
.table-view:focused {
    -fx-background-color: -fx-box-border,-fx-box-border, white;
}
.table-row-cell {
    -fx-background-color: white;
}
.table-row-cell:odd {
    -fx-background-color: white;
    -fx-background-insets: 0, 0 0 1 0;
}
.table-view:focused .table-row-cell:focused,.table-view:focused .table-row-cell:focused:odd {
    -fx-background-color: -fx-box-border, white;
    -fx-background-insets: 0, 1, 2;
}
.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: #1f8fe8;
}
.table-view:focused .table-row-cell:filled:selected, .table-view:row-selection .table-row-cell:filled:hover:selected {
    -fx-background-color: #1f8fe8;
    -fx-background-insets: 0,1 1 1 1 0;
}
.table-view:focused .table-row-cell:filled:focused:selected:hover {
    -fx-background-color: #1f8fe8;
    -fx-background-insets: 0,1 1 1 1 0;
}
.table-row-cell:filled:selected:focused, .table-row-cell:filled:selected {
    -fx-background-color: #1f8fe8;
}
.table-view:row-selection .table-row-cell:filled:hover {
    -fx-background-color: -fx-box-border,rgba(231,231,231,1);
}
.table-view:row-selection .table-row-cell:filled:focused:hover {
    -fx-background-color: #1f8fe8;
}
.table-view:focused .table-row-cell:filled:focused:hover {
    -fx-background-color: #1f8fe8;
}
.table-view .column-header-background {
    -fx-background-color: white;
}

.table-view .column-header, .table-view .filler {
    -fx-background-color: white;
    -fx-size: 35;
    -fx-border-color: -fx-box-border;
    -fx-border-insets: -1 0 0 -1;
    -fx-padding: 0 5 0 0;
}
.table-view .show-hide-columns-button {
    -fx-background-color: white;
    -fx-border-color: -fx-box-border;
    -fx-border-insets: -1 -1 0 0;
}
.table-view .column-drag-header {
    -fx-background-color: rgb(45,137,239);
    -fx-opacity: 0.6;
}
.table-view .column-resize-line {
    -fx-background-color: rgb(45,137,239);
}
.table-view .column-overlay {
    -fx-background-color: darkgray;
    -fx-opacity: 0.2;
}
.table-row-cell:selected .text {
       -fx-fill: white ;
}
.table-row-cell:hover .text{
    -fx-fill: black ;
}
.table-row-cell:focused:hover .text{
    -fx-fill: white;
}

.text-field:focused {
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
}
.text:focused:hover{
     -fx-fill: white;
}